.venv
.vscode
.claude/
CLAUDE.md
build

# documentation artifacts
_build/
_images/
_static/
!docs/_static/
!docs/_static/images/
!docs/_static/images/**
_templates/
_toc.yml
docBin/
_doxygen/
_readthedocs/

# avoid duplicating contributing.md due to conf.py
docs/CHANGELOG.md
docs/contribute/index.md
docs/about/release-notes.md
docs/about/changelog.md
